@import "tailwindcss";
@config "../tailwind.config.js";

html, body {
  background-color: #f9fafb;
  color: #111827;
  overscroll-behavior: none;
  overflow-x: hidden;
  min-height: 100%;
  position: fixed;
  width: 100%;
}

.dark html, .dark body {
  background-color: #111827;
}

#root {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f9fafb;
}

.dark #root {
  background-color: #111827;
}